.Main {
  height: 400px;
}

.NavBar {
  padding: 20px;
  height: auto;
  background-image: url(../img/bg/nav-bg.jpeg);
  background-size: cover;
}

#root {
  background-color: black;
}

.Formulir {
  justify-content: center;
  align-items: center;
  margin: auto;
}

.Dua {
  background-image: url(../img/bg/clapper.jpg);
  background-size: cover;
  background-position: center;
}
